
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


body {
    margin-top: 150px;
    background-image: url("../img/fondo.webp");
    
    
}
.container {
    background-color:rgb(249, 245, 240);
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 5px 5px 5px 3px rgb(178, 178, 178);
    width: 700px;
    
}
.title {
   
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 100;
   
    
}

.tasker2{
    border: none;
    border-bottom: 1px solid rgb(195, 195, 195);
    outline: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: transparent;
    padding-bottom: 10px;
    

}

.list-group {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    

}

.list-group-item{ 
   

    background-color:rgb(249, 245, 240);
    border: 0;
    border-bottom: 1px solid rgb(195, 195, 195);
   
   
}
.delete {
    background-color:rgb(249, 245, 240);
    float: right;
    font-size: 25px;
}

